<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template (~{:: .uk-section})}"
      xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>

<div class="uk-section">
    <div class="uk-position-center" style="top: 180px">
    <div class="uk-container uk-container-small">
            <article class="uk-article uk-margin-large uk-text-center">
            <h1 class="uk-article-title">Witaj podróżniku!</h1>
            <p style="text-align: justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam cumque eaque eveniet ex, facere quidem tempora. Aspernatur assumenda atque beatae consequuntur esse et exercitationem in, magni nihil officiis, quasi quibusdam sapiente similique tenetur ut vel voluptatibus! Alias aliquam architecto aut consequuntur cum, eligendi eos et eum fuga in inventore itaque laborum nihil nulla optio placeat quo sequi sunt voluptate voluptatem? Adipisci aliquam atque autem beatae commodi consequuntur culpa debitis dolore doloremque ducimus eaque.</p>
        </article>
    </div>

    <div class="uk-container-xlarge uk-position-top-center" style="top: 210px">
        <div class="uk-cover-container">
            <img th:src="@{/img/World Mapa.jpg}" alt="">
                    </div>
        </div>

        <div class="uk-position-bottom-center" style="top: 690px"><h1><b><p class="p1">Kto podróżuje, ten dwa razy żyje - Hans Christian Andersen</p></b></h1></div>
</div>
</div>
</body>
</html>