<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template (~{:: .uk-section})}"
      xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>

<div class="uk-section">
    <div class="uk-container uk-container-small">
        <article class="uk-article uk-margin-large uk-text-center">
            <h1 class="uk-article-title">Witaj podróżniku!</h1>
            <p style="text-align: justify">Jeśli jesteś osobą szukającą idealnego miasta na weekendowy wyjazd, to dobrze
                trafiłeś! Na tej stronie masz możliwość odkrycia najciekawszych atrakcji trzech europejskich stolic.
                Planowanie wycieczki z nami to łatwizna. Dzięki opisom najważniejszych zabytków w prosty sposób
                zdecydujesz co według Ciebie jest warte zobaczenia. Nasz przewodnik dostosuje się do Twoich preferencji.
                Nie czekaj, już dziś zaplanuj z nami niezapomniany wyjazd 😊</p>
        </article>
    </div>

    <div class="uk-text-center">
        <img th:src="@{/img/World Mapa.jpg}" alt="">
    </div>

    <div class="uk-text-center uk-position-relative" style="bottom: 50px">
        <h1><b><p class="p1">Kto podróżuje, ten dwa razy żyje - Hans Christian Andersen</p></b></h1>
    </div>
</div>
</div>
</body>
</html>