<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
</head>
<body>

<nav th:fragment="nav" class="uk-navbar-container uk-navbar-transparent" style="background-color: powderblue" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <a th:href="@{/}" class="uk-logo uk-navbar-item uk-margin-auto-left"><i class="fa-solid fa-earth-africa" style="color: midnightblue"></i>TripPlanner</a>
            <div class="uk-navbar-item">
                <div><a class th:href="@{/monuments}" style="color: #666666">Co warto zobaczyć</a></div>
            </div>
            <div class="uk-navbar-item">
              <div> <a class th:href="@{/order}" style="color: #0f6ecd">Zaplanuj wycieczkę</a></div>
            </div>
        </ul>
    </div>
</nav>

</body>
</html>