<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template (~{:: .uk-section})}"
      xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>

<div class="uk-section">
    <div class="uk-container uk-container-small">
    <h3>Wybrany przewodnik w podanym terminie jest niedostępny. Wróć do formularza zamówienia i wybierz inny termin.</h3>
        <div class="uk-text-center">
        <img th:src="@{/img/sadFace.jpg}">
        </div>
    </div>
</div>

</body>
</html>