<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template (~{:: .uk-section})}"
      xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>

<div class="uk-section">
    <div class="uk-container uk-container-xsmall">

        <h2>Zaznacz zabytki które chcesz zwiedzić:</h2>

        <form th:object="${orderAddress}" method="post" th:href="@{/order/2}">
            <fieldset class="uk-fieldset">

                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                    <label th:each="monumentsRow : ${monuments}"><input class="uk-checkbox" type="checkbox" checked
                                                                        name="monumentOrder"
                                                                        th:value="${monumentsRow.name} + '/'">
                        <div th:text="${monumentsRow.name}"></div>
                    </label>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-select" style="font-size: x-large">Wybierz
                        przewodnika oraz język zwiedzania:</label>
                    <div class="uk-form-controls" style="width: 400px">
                        <select class="uk-select" id="form-stacked-select" name="guide">
                            <option th:each="guidesRow : ${guides}">
                                <div th:text="${guidesRow.name + ' - język zwiedzania: ' + guidesRow.language}"></div>
                            </option>
                        </select>
                    </div>
                </div>
                <p style="font-size: x-large; color: black">Wypełnij formularz:</p>

                <div class="uk-margin">
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Imię" th:field="*{firstName}"
                           th:errorclass="uk-form-danger">
                    <span th:if="${#fields.hasErrors('firstName')}" class="uk-text-small uk-text-danger">Imię powinno mieć od 2 do 25 znaków</span>
                </div>

                <div class="uk-margin">
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Nazwisko"
                           th:field="*{lastName}" th:errorclass="uk-form-danger">
                    <span th:if="${#fields.hasErrors('lastName')}" class="uk-text-small uk-text-danger">Nazwisko powinno mieć od 2 do 25 znaków</span>
                </div>

                <div class="uk-margin">
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Ulica" th:field="*{street}"
                           th:errorclass="uk-form-danger">
                    <span th:if="${#fields.hasErrors('street')}" class="uk-text-small uk-text-danger">Ulica powinna mieć od 2 do 30 znaków</span>
                </div>

                <div class="uk-margin">
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Kod pocztowy"
                           th:field="*{postalCode}" th:errorclass="uk-form-danger">
                    <span th:if="${#fields.hasErrors('postalCode')}" class="uk-text-small uk-text-danger">Kod pocztowy powinien mieć 6 znaków: XX-XXX</span>
                </div>

                <div class="uk-margin">
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Miasto" th:field="*{city}"
                           th:errorclass="uk-form-danger">
                    <span th:if="${#fields.hasErrors('city')}" class="uk-text-small uk-text-danger">Miasto powinno mieć od 2 do 25 znaków</span>
                </div>

                <div class="uk-margin">
                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Nr kontaktowy"
                           th:field="*{phoneNumber}" th:errorclass="uk-form-danger">
                    <span th:if="${#fields.hasErrors('phoneNumber')}" class="uk-text-small uk-text-danger">Nr telefonu powinien mieć 11 znaków: XXX-XXX-XXX</span>
                </div>

                <label class="uk-form-label" for="form-stacked-select" style="font-size: x-large">Wybierz datę oraz
                    godzinę zwiedzania:</label>

                <div class="uk-margin">
                    <input type="text" id="datepicker" name="datepicker" th:field="*{visitingDate}"
                           th:errorclass="uk-form-danger">
                    <span th:if="${#fields.hasErrors('visitingDate')}" class="uk-text-small uk-text-danger">Wybierz datę z kalendarza</span>
                </div>

                <script>
                    $(function () {
                        $.datepicker.setDefaults($.datepicker.regional[""]);
                        $("#datepicker").datepicker({
                            onSelect: function (dateText, inst) {
                                $(this).parent('form').submit();
                            }
                        });
                    });
                </script>

                <div class="uk-form-controls" style="width: 200px">
                    <select class="uk-select" id="form-stacked-select" name="visitingTime">
                        <option>8:00</option>
                        <option>12:00</option>
                        <option>16:00</option>
                    </select>
                </div>
                <br>
                <div class="uk-width-1-1">
                    <input type="submit" class="uk-button uk-button-primary uk-width-1-1" value="Zarezerwuj">
                </div>

                <h4>Cennik:</h4>
                <table class="uk-table uk-table-striped">
                    <tbody>
                    <tr th:each="monumentsRow : ${monuments}">
                        <div>
                            <span th:text="|${monumentsRow.name + ' ' + monumentsRow.price} zł |"></span>
                        </div>
                    </tbody>
                </table>

            </fieldset>
        </form>
    </div>
</div>
</body>
</html>