<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: template (~{:: .uk-section})}"
      xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>

<div class="uk-section">

    <div class="uk-card uk-card-hover uk-card-body uk-position-fixed" style="top: 150px; width:200px">
        <ul class="uk-nav-default uk-navbar-left" uk-nav>
            <li><a href="#">Zabytki w Paryżu:</a></li>
            <li><a href="#tower">Wieża Eiffla</a></li>
            <li><a href="#louvre">Luwr</a></li>
            <li><a href="#cathedral">Katedra Notre Dame</a></li>
            <li><a href="#arch">Łuk Triumfalny</a></li>
        </ul>
    </div>

    <div class="uk-position-top-center" style="top: 100px">

        <div class="uk-container uk-container-small">

            <article class="uk-article uk-margin-large uk-text-center">
                <a name="tower"></a>
                <h1 class="uk-article-title">Wieża Eiffla</h1>
                <p>Wieża Eiffla - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto
                    asperiores blanditiis dolorum enim hic impedit ipsam laudantium magnam neque nulla obcaecati, optio
                    provident qui, sapiente sit sunt totam, ut veniam voluptatibus. Asperiores aut autem cupiditate
                    eligendi et facere iste nostrum placeat quisquam, quos reprehenderit sapiente sequi sint temporibus
                    veniam.</p>
            </article>
            <div class="uk-cover-container uk-height-large uk-margin-small">
                <img th:src="@{/img/tower.jpg}" alt="">
            </div>
            <article class="uk-article uk-margin-large uk-text-center">
                <a name="louvre"></a>
                <h1 class="uk-article-title">Luwr</h1>
                <p>Luwr - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto asperiores
                    blanditiis dolorum enim hic impedit ipsam laudantium magnam neque nulla obcaecati, optio provident
                    qui, sapiente sit sunt totam, ut veniam voluptatibus. Asperiores aut autem cupiditate eligendi et
                    facere iste nostrum placeat quisquam, quos reprehenderit sapiente sequi sint temporibus veniam.</p>
            </article>
            <div class="uk-cover-container uk-height-large uk-margin-small">
                <img th:src="@{/img/luwr.webp}" alt="">
            </div>
            <article class="uk-article uk-margin-large uk-text-center">
                <a name="cathedral"></a>
                <h1 class="uk-article-title">Katedra Notre Dame</h1>
                <p>Katedra Notre Dame - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto
                    asperiores blanditiis dolorum enim hic impedit ipsam laudantium magnam neque nulla obcaecati, optio
                    provident qui, sapiente sit sunt totam, ut veniam voluptatibus. Asperiores aut autem cupiditate
                    eligendi et facere iste nostrum placeat quisquam, quos reprehenderit sapiente sequi sint temporibus
                    veniam.</p>
            </article>
            <div class="uk-cover-container uk-height-large uk-margin-small">
                <img th:src="@{/img/notredame.jpg}" alt="">
            </div>
            <article class="uk-article uk-margin-large uk-text-center">
                <a name="arch"></a>
                <h1 class="uk-article-title">Łuk Triumfalny</h1>
                <p>Łuk Triumfalny - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto
                    asperiores blanditiis dolorum enim hic impedit ipsam laudantium magnam neque nulla obcaecati, optio
                    provident qui, sapiente sit sunt totam, ut veniam voluptatibus. Asperiores aut autem cupiditate
                    eligendi et facere iste nostrum placeat quisquam, quos reprehenderit sapiente sequi sint temporibus
                    veniam.</p>
            </article>
            <div class="uk-cover-container uk-height-large uk-margin-small">
                <img th:src="@{/img/arch.jpg}" alt="">
            </div>
        </div>
    </div>
</div>
</body>
</html>